.span-style {
  background-color: rgb(212, 250, 250);
  border-radius: 0.3em;
  padding: 0 0.5em;
}

.pos-rel {
  position: relative;
  margin: 0.5em 0.5em;
  width: max-content;
  height: max-content;
}
