.span-style {
  background-color:  var(--primary-background-color);
  border-radius: 0.3em;
  padding: 0 0.5em;
  font-size: 1.5em;
  color: var(--pale-white);
}
.text-span-style {
  background-color: var(--span-color);
  border-radius: 0.3em;
  padding: 0 0.5em;
  font-size: 1.5em;
  color: var(--font-color);
}

.pos-rel {
  position: relative;
  margin: 0.5em 0.5em;
  width: max-content;
  height: max-content;
}
.pos-rel-Ecase {
  position: relative;
}
.icon-lg {
  font-size: 2rem;
  font-size: 2rem;
}
.icon-mr {
  font-size: 1.5rem;
  margin-right: 0.4em;
}

.icon-ml {
  font-size: 1.5rem;
  margin-left: 0.4em;
}

.icon-sm {
  font-size: 1rem;

}

