.btn {
  border: 0em;
  font-size: 1rem;
  text-align: center;
  padding: 0.5em 1em;
  color: white;
  border-radius: 0.5em;
  cursor: pointer;
  height: 3em;
}

.primary-btn {
  background-color: var(--primary-color);
  border-width: 0.1em;
  border-style: solid;
}

.secondary-btn {
  background-color: var(--secondary-color);
}

.primary-outlime-btn {
  color: var(--primary-color);
  border-width: 0.1em;
  border-style: solid;
  border-color: var(--primary-color);
  background-color: transparent;
}

.center-text {
  align-items: center;
}

.text-font {
  font-size: 3rem;
}

.homepage-heading {
  width: 35em;
}
.homepage-para {
  width: 45em;
}
