* {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}
:root {
  font-size: 120%;
  --primary-color: #ff4848;
  --secondary-color: #ff7676;
  --teritiary-Color: #fca5a5;
}

.header-font-family {
  font-family: "Spark", sans-serif;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 100%;
  }
}
