* {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

.header-font-family {
  font-family: "Spark", sans-serif;
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 100%;
  }
}
