.flex-row {
  display: flex;
}

.flex-col-bw {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex-row-bw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.comp-page-display {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}
.comp-display {
  margin-left: 5em;
}

.header-mt {
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  color: #000000;
}

.side-navigator {
  color: var(--primary-color);
}

.nav-ml {
  margin: 1em;
}

ul li {
  margin: 1em;
  list-style-type: none;
  padding: 0.2em;
  width: 100%;
}
ul li:hover {
  background-color: rgb(212, 250, 250);
  cursor: pointer;
}
ul {
  padding-left: 0px;
}

aside {
  width: max-content;
  position: sticky;
  top: 0em;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row-center {
  display: flex;
  align-items: center;
}

.column-display {
  display: flex;
  flex-direction: column;
}

.flex-h-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-exact {
  display: flex;
  align-items: center;
  position: relative;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1fr;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.component-border {
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-color: var(--secondary-color); */
  margin-right: 1em;
  padding: 0.5em;
}

.flex-row-bw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.code-block {
  /* width: max-content; */
  border-style: solid;
  padding: 1rem;
}

.comp-code {
  width: 40em;
  height: 20em;
}

.head-zero-m {
  margin: 0.2em;
}

.mr {
  margin-right: 0.5em;
}

.ml-auto {
  margin-left: auto;
}

.header-icons-m-lr {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header-pos {
  position: fixed;
}

.ul-mt {
  margin-top: 0.1rem;
}

.m-all {
  margin: 2em;
}

.ml {
  margin-left: 3em;
}
.header-icons {
  font-size: 1.5em;
}
.ml-fil {
  margin-left: 1em;
}

.proper-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center-row-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ver-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
}

.p-text-t {
  padding-top: 0.3em;
}

footer {
  height: 10em;
  background-color: var(--teritiary-Color);
  padding: 2em;
  color: #fff;
}

/* @media screen and (max-width: 800px) {
  .flex-center {
    display: none;
  }
  .comp-page-display {
    display: grid;
    grid-template-columns: 1fr;
  }
  .comp-display {
    margin-left: 1em;
  }
} */
