<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../allComponents.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <title>toast</title>
  </head>
  <body>
    <header class="flex-H-center-V">
      <h1 class="header-font-family">SPARK UI</h1>
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-H ml-auto">
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
      </div>
    </header>
    <section class="page-layout">
      <nav class="flex-V-center-H">
        <div>
          <div>Getting Started</div>
          <ul class="ul-mt">
            <li>Usage</li>
          </ul>
          <div>Components</div>
          <ul class="ul-mt">
            <a href="../Alerts/index.html"><li>Avatar&Alert</li></a>
            <a href="../badge/badge.html"><li>Badge</li></a>
            <a href="../button/buttons.html"><li>Button</li></a>
            <a href="../cards/cards.html"><li>Card</li></a>
            <a></a>
            <li>Image</li>
            <a href="../inputs/input.html"><li>Input</li></a>
            <li>List</li>
            <li>Navigation</li>
            <li>Toast</li>
          </ul>
        </div>
      </nav>
      <main>
        <h1>Toast</h1>
        <p>
          This component can be used for toast or snackbar component. Toast is
          mostly used to show feedback message. Snackbar is to used show message
          that need user action
        </p>
        <div>
          <button id="succuess">success</button>
          <button id="warn">warn</button>
          <button id="error">error toast</button>
        </div>
        <div id="succuessToast">
          <div class="toast succuess">
            <p>Saved!</p>
            <span id="closeBtn">&times;</span>
          </div>
        </div>

        <div id="WarnToast">
          <div class="toast warn">
            <p>Saved!</p>
            <span id="closeBtn">&times;</span>
          </div>
        </div>
        <div id="errorToast">
          <div class="toast error">
            <p>Saved!</p>
            <span id="closeBtn">&times;</span>
          </div>
        </div>
      </main>
    </section>
    <script src="./toast.js"></script>
  </body>
</html>
