<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../cards/cards.css" />
    <link rel="stylesheet" href="../../../css/main.css" />

    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link rel="stylesheet" href="../button/buttons.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../components/button/buttons.css" />
    <link rel="stylesheet" href="../../../css/component-page.css" />
    <title>Cards</title>
  </head>
  <body>
    <main>
      <h1>Horizantal/vertical Cards</h1>

      <div class="filter-card">
        <div class="proper-flex">
          <h4>Filters</h4>
          <h4>ClearAll</h4>
        </div>
        <h4>Price</h4>
        <div class="proper-flex">
          <h5>50</h5>
          <h5>150</h5>
          <h5>200</h5>
        </div>
        <div>
          <h4>Rating</h4>
          <div class="flex-row-center">
            <input type="checkbox" />
            <p class="ml-fil">4 Stars & above</p>
          </div>
        </div>
        <h4>Sort by</h4>
        <div class="flex-row-center">
          <input type="radio" />
          <p class="ml-fil">price-Low to High</p>
        </div>
        <div class="flex-row-center">
          <input type="radio" />
          <p class="ml-fil">price-High to Low</p>
        </div>
      </div>

      <!-- e-commerce homepage div -->
      <div class="ver-card pos-rel-only">
        <img src="../../../images/ver-ecom.jpg" class="ver-card-image" />
        <div class="flex-center">
          <p>India's premium Food you cant uy anywhere</p>
          <h2 class="head-tm">$200</h2>
        </div>
        <button class="btn primary-btn p-card-btn">Go to cart</button>
        <div class="card-badge">
          <button class="like-icon icon-sm">
            <i class="fas fa-heart"></i>
          </button>
        </div>
      </div>

      <!-- card with dismiss -->
      <div class="h-card flex-row">
        <img src="../../../images/ver-ecom.jpg" />
        <div class="flex-col-bw">
          <div>
            <p class="reduce-mtb">Taj's Premium Food</p>
            <div class="flex-row reduce-mtb">
              <h2 class="reduce-mtb">$50</h2>
              <p class="reduce-mtb strike-rate">$80</p>
            </div>
            <p class="reduce-mtb">50% OFF</p>
          </div>
          <div class="flex-col reduce-mtb">
            <button class="reduce-mtb btn primary-btn">Go the Cart</button>
            <button class="reduce-mtb btn secondary-btn">
              Remove from WishList
            </button>
          </div>
        </div>
      </div>

      <!-- card foe zomoto homepage -->
      <div class="sq-card">
        <img src="../../../images/ver-ecom.jpg" class="width-image" />

        <h1 class="reduce-mtb">Hyderbad Dum Biriyani</h1>
        <p class="reduce-mtb">Indian,Chinese,Deserts</p>
        <div class="flex-row">
          <div class="flex-row-center rating">
            <i class="fas fa-star"></i>
            <p class="reduce-mtb p-text-t">4.8</p>
          </div>
          <ul class="reduce-mtb flex-row">
            <li class="reduce-mtb">35 MINS</li>
            <li class="reduce-mtb">$4 half Plate</li>
          </ul>
        </div>
        <hr class="reduce-mtb" />
        <div class="flex-row-center">
          <i class="fas fa-percentage offerIcon"></i>
          <p class="reduce-mtb p-text-t">40% off|Use Balu1031</p>
        </div>
        <div class="badge">Newly added</div>
      </div>

      <!-- 
        social media
       -->

      <div class="sq-card">
        <div class="flex-row-bw">
          <div class="flex-row-center">
            <img src="../../../images/balu.jpg" class="profile-card" />
            <div>
              <p class="reduce-mtb">Balaji Narayana</p>
              <p class="reduce-mtb">Aragonda Chittoor</p>
            </div>
          </div>
          <i class="fas fa-ellipsis-v"></i>
        </div>
        <div>
          <img src="../../../images/ver-ecom.jpg" class="width-image" />
          <h4>A question from Nuclear Physics</h4>
          <p>physics and biriyani is a awesome combination</p>
        </div>
        <div class="flex-row-center">
          <div class="flex-row-center">
            <i class="fab fa-gratipay leftMargin"></i>
            <p>535</p>
          </div>
          <div class="flex-row-center ml">
            <i class="far fa-comment-alt leftMargin"></i>
            <p>535</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
