<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../cards/cards.css" />
    <link rel="stylesheet" href="../../../css/main.css" />

    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link rel="stylesheet" href="../button/buttons.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
   <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/hybrid.min.css"/>
    <link rel="stylesheet" href="../../components/button/buttons.css" />
    <link rel="stylesheet" href="../../../css/component-page.css" />
    <script src="../../../index.js" defer></script>
    <title>Cards</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico"/>
  </head>
  <body>
    <!-- desktop header -->
     <header class="desktop-nav">
    <div class="flex-H-space-bw" >
      <a href="../../../home.html" >
        <h1><sapn class="logo-style">Spark</sapn></h1>
    </a>
      
      <div class="header-icons-div">
       <p class="header-icons-m-lr">Documentation</p>
       <p class="header-icons-m-lr">Blogs</p>
       <div class="dark-light-btn">
        <i class="fas fa-moon header-icons-m-lr">Dark</i>
      </div>
      </div>
    
    </div>
    </header>
  
      <!-- mobile navbar -->
        <!-- hamburger div for mobile -->
        <header class="mobile-navbar">
      <div class="flex-H-space-around ">
         <a href="../../../home.html" >
          <h1><sapn class="span-style">Spark</sapn></h1>
      </a>
        <div class="buger-div">
          <a href="#" class="burger-button"><i class="fas fa-bars icon-lg"></i></a>
      </div>
  </div>
        </header>
    <section class="page-layout">
       <div class="nav-container">
      <navbar class="flex-V-center-H" >
      <div>
        <div>Getting Started</div>
        <ul>
          <li class="ul-mt">
            <a href="../starter/starter.html">Getting Started</a>
          </li>
        </ul>
          <div>Components</div>
          <ul class="ul-mt">
            <li><a href="../Alerts/index.html">Avatar&Alert</a></li>
            <li><a href="../badge/badge.html">Badge</a></li>
            <li><a href="../button/buttons.html">Button</a></li>
            <li><a href="../cards/cards.html">Card</a></li>
            <li><a href="../res-image/image.html"> Image</a></li>
            <li><a href="../inputs/input.html">Input</a></li>
            <li><a href="../modal/modal.html">Modal</a></li>
            <li><a href="../textUtilities/textUtil.html">Text-utilities</a></li>
            <li><a href="../toast/toast.html">Toast</a></li>
            <li><a href="../others/others.html">Others</a></li>
            <li><a href="../navigation/navigation.html">Navigation</a></li>
          </ul> 
        </div>
      </navbar>
    </div>
      <main>
        <h1>Cards</h1>
        <h2>Horizantal card</h2>
        <p>
          Horizantal card we usually see in whishList of e-commerce website. so
          replicate this card in your webpage just use the class names thst used
          in the this card container
        </p>
        <!-- card with dismiss -->
        <div class="h-card flex-H">
          <img src="../../../images/ver-ecom.jpg" class="card-image" />
          <div class="flex-V-sapce-between">
            <div>
              <p>
                Taj's Lorem Ipsum is simply dummy text of the printing and
                typesetting industry Food
              </p>
              <span>Rs 299/-</span>
              <span class="strike-rate">Rs 599/-</span>
              <p>50% OFF</p>
            </div>
            <div class="quantity">
              <strong>Quantity:</strong>
              <button class="delete">-</button>
              <div>1</div>
              <button class="add">+</button>
            </div>
            <div class="flex-v">
              <button class="btn primary-btn">Remove from Cart</button>
              <button class="btn secondary-btn">Remove from WishList</button>
            </div>
          </div>
        </div>
        <pre><code class="language-html">
          &lt;div class="h-card flex-H"&gt;
          &lt;img src="../../../images/ver-ecom.jpg" class="card-image" /&gt;
          &lt;div class="flex-V-sapce-between"&gt;
          &lt;div&gt;
          &lt;p&gt;
          Taj's Lorem Ipsum is simply dummy text of the printing andtypesetting industry Food
          &lt;/p&gt;
          &lt;span&gt;Rs 299/- &lt;/span&gt;
          &lt;span class="strike-rate"&gt;Rs 599/- &lt;/span&gt;
          &lt;p&gt;50% OFF&lt;/p&gt;
          &lt;/div&gt;
  
          &lt;div class="flex-v"&gt;
          &lt;button class="btn primary-btn"&gt;Go the Cart&lt;/button&gt;
          &lt;button class="btn secondary-btn">Remove from WishList &lt;/button&gt;
          &lt;/div&gt;
          &lt;/div&gt;
          &lt;/div&gt;
        </code></pre>

        <!-- card foe zomoto homepage -->

        <h2 id="badge-cards">Card With badge/vertical card</h2>
        <p>
          This card also help us to show in products page of e-commerce website
          where we can like the card with using badge provided
        </p>
        <!-- e-commerce homepage div -->
        <div class="ver-card pos-rel-Ecase">
          <img src="../../../images/ver-ecom.jpg" />
          <div class="flex-V-center-VH">
            <p>India's premium Food you cant uy anywhere</p>
            <h3>$200</h3>
            <button class="btn primary-btn p-card-btn">Go to cart</button>
          </div>
          <div class="card-badge">
            <button class="like-icon icon-sm">
              <i class="fas fa-heart"></i>
            </button>
          </div>
        </div>

        <pre><code class="language-html">
          &lt;div class="ver-card pos-rel-Ecase"&gt;
            &lt;img src="../../../images/ver-ecom.jpg" /&gt;
            &lt;div class="flex-V-center-VH"&gt;
              &lt;p&gt;India's premium Food you cant uy anywhere&lt;/p&gt;
              &lt;h3&gt;$200&lt;/h3&gt;
              &lt;button class="btn primary-btn p-card-btn"&gt;Go to cart&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class="card-badge"&gt;
              &lt;button class="like-icon icon-sm"&gt;
                &lt;i class="fas fa-heart"&gt;&lt;/i&gt;
              &lt;/button&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        </code></pre>

        <!-- text-overlay cards -->
        <h2>Card with text overlay</h2>
        <p>
          We see these kind of cards in e-commerce website products page where
          it helps us to show out of stock products so to replicate this css for
          your card use class name that used here
        </p>
        <div class="overlay-card">
          <div class="ver-card pos-rel-Ecase overlay">
            <img src="../../../images/ver-ecom.jpg" />
            <div class="flex-V-center-VH">
              <p>India's premium Food you cant uy anywhere</p>
              <h3>$200</h3>
              <button class="btn primary-btn p-card-btn">Go to cart</button>
            </div>
            <div class="card-badge">
              <button class="like-icon icon-sm">
                <i class="fas fa-heart"></i>
              </button>
            </div>
          </div>
          <!-- <div class=""></div> -->
          <div class="overlay-text">Out Of Stock</div> 
        </div>

        <pre><code class="language-html">
          &lt;div class="overlay-card"&gt;
            &lt;div class="ver-card pos-rel-Ecase"&gt;
              &lt;img src="../../../images/ver-ecom.jpg" /&gt;
              &lt;div class="flex-V-center-VH"&gt;
                &lt;p&gt;India's premium Food you cant uy anywhere&lt;/p&gt;
                &lt;h3&gt;$200&lt;/h3&gt;
                &lt;button class="btn primary-btn p-card-btn"&gt;Go to cart&lt;/button&gt;
              &lt;/div&gt;
              &lt;div class="card-badge"&gt;
                &lt;button class="like-icon icon-sm"&gt;
                  &lt;i class="fas fa-heart"&gt;&lt;/i&gt;
                &lt;/button&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="overlay"&gt;&lt;/div&gt;
            &lt;div class="overlay-text"&gt;Out Of Stock&lt;/div&gt;
          &lt;/div&gt;
        </code></pre>

        <p>
          This card was inspired from swiggy products page so we can use it for
          products page or for cart page
        </p>

        <div class="sq-card">
          <img src="../../../images/ver-ecom.jpg" />
          <h4>Hyderbad Dum Biriyani</h4>
          <p>Indian,Chinese,Deserts</p>
          <div class="flex-space-between">
            <div class="flex-H-center-V">
              <i class="fas fa-star"></i>
              <p>4.8</p>
            </div>
            <p>35 MINS</p>
            <p>$4 half Plate</p>
          </div>
          <hr />
         
          <button class="btn primary-btn">Click Here</button>
          <div class="badge">Newly added</div>
        </div>
        <pre><code class="language-html">
          &lt;div class="sq-card"&gt;
            &lt;img src="../../../images/ver-ecom.jpg" /&gt;
            &lt;h4&gt;Hyderbad Dum Biriyani&lt;/h4&gt;
            &lt;p&gt;Indian,Chinese,Deserts&lt;/p&gt;
            &lt;div class="flex-space-between"&gt;
              &lt;div class="flex-H-center-V"&gt;
                &lt;i class="fas fa-star"&gt;&lt;/i&gt;
                &lt;p&gt;4.8&lt;/p&gt;
              &lt;/div&gt;
              &lt;p&gt;35 MINS&lt;/p&gt;
              &lt;p&gt;$4 half Plate&lt;/p&gt;
            &lt;/div&gt;
            &lt;hr /&gt;
            &lt;button class="btn primary-btn"&gt;check out&lt;/button&gt;
            &lt;div class="badge"&gt;Newly added&lt;/div&gt;
          &lt;/div&gt;
        </code></pre>
       

        <!-- 
        social media
       -->

        <h1 id="media-cards">card with dismiss</h1>

        <p>
          this is for socail media application inspired from instagram so to
          replicate this design you can use css class names provided in the code
          block
        </p>

        <div class="sq-card">
          <div class="flex-H-space-bw">
            <div class="flex-H-center-V">
              <img src="../../../images/balu.jpg" class="profile-pic" />
              <div>
                <p class="reduce-mtb">Balaji Narayana</p>
                <p class="reduce-mtb">Aragonda Chittoor</p>
              </div>
            </div>
            <i class="fas fa-ellipsis-v"></i>
          </div>
          <div>
            <h4>A question from Nuclear Physics</h4>
            <p>physics and biriyani is a awesome combination</p>
          </div>
          <img src="../../../images/ver-ecom.jpg" />
          <div class="flex-H-space-around">
            <div class="flex-H-center-V">
              <i class="fab fa-gratipay"></i>
              <p class="m-l">535</p>
            </div>
            <div class="flex-H-center-V">
              <i class="far fa-comment-alt"></i>
              <p class="m-l">535</p>
            </div>
            <div class="flex-H-center-V">
              <i class="far fa-comment-alt"></i>
              <p class="m-l">535</p>
            </div>
          </div>
        </div>

        <pre><code class="language-html">
       
     

        &lt;div class="sq-card"&gt;
          &lt;div class="flex-H-space-bw"&gt;
            &lt;div class="flex-H-center-V"&gt;
              &lt;img src="../../../images/balu.jpg" class="profile-pic" /&gt;
              &lt;div&gt;
                &lt;p class="reduce-mtb"&gt;Balaji Narayana&lt;/p&gt;
                &lt;p class="reduce-mtb"&gt;Aragonda Chittoor&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;i class="fas fa-ellipsis-v"&gt;&lt;/i&gt;
          &lt;/div&gt;
          &lt;div&gt;
            &lt;h4&gt;A question from Nuclear Physics&lt;/h4&gt;
            &lt;p&gt;physics and biriyani is a awesome combination&lt;/p&gt;
          &lt;/div&gt;
          &lt;img src="../../../images/ver-ecom.jpg" /&gt;
          &lt;div class="flex-H-space-around"&gt;
            &lt;div class="flex-H-center-V"&gt;
              &lt;i class="fab fa-gratipay"&gt;&lt;/i&gt;
              &lt;p class="m-l"&gt;535&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="flex-H-center-V"&gt;
              &lt;i class="far fa-comment-alt"&gt;&lt;/i&gt;
              &lt;p class="m-l"&gt;535&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="flex-H-center-V"&gt;
              &lt;i class="far fa-comment-alt"&gt;&lt;/i&gt;
              &lt;p class="m-l"&gt;535&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      </code></pre>
           
        <h1 id="h-v-cards">vertical Card</h1>

        <p>This card help us to create filter section in e-commerce websites</p>

        <div class="filter-card">
          <div class="flex-space-between">
            <h4>Filters</h4>
            <h4>ClearAll</h4>
          </div>
          <h4>Price</h4>
          <div class="flex-space-between">
            <h4>100</h4>
            <h4>200</h4>
            <h4>500</h4>
          </div>

          <h4>Rating</h4>
          <div class="flex-H-center-V">
            <input type="checkbox" />
            <p>5 stars</p>
          </div>
          <h4>Sort by</h4>
          <div class="flex-H-center-V">
            <input type="checkbox" />
            <p>price-Low to High</p>
          </div>
          <div class="flex-H-center-V">
            <input type="checkbox" />
            <p>price-High to Low</p>
          </div>
        </div>

        <pre><code class="language-html">
          &lt;div class="filter-card"&gt;
          &lt;div class="flex-space-between"&gt;
            &lt;h4&gt;Filters&lt;/h4&gt;
            &lt;h4&gt;ClearAll&lt;/h4&gt;
          &lt;/div&gt;
          &lt;h4&gt;Price&lt;/h4&gt;
          &lt;div class="flex-space-between"&gt;
            &lt;h4&gt;100&lt;/h4&gt;
            &lt;h4&gt;200&lt;/h4&gt;
            &lt;h4&gt;500&lt;/h4&gt;
          &lt;/div&gt;

          &lt;h4&gt;Rating&lt;/h4&gt;
          &lt;div class="flex-H-center-V"&gt;
            &lt;input type="checkbox" /&gt;
            &lt;p&gt;5 stars&lt;/p&gt;
          &lt;/div&gt;
          &lt;h4&gt;Sort by&lt;/h4&gt;
          &lt;div class="flex-H-center-V"&gt;
            &lt;input type="checkbox" /&gt;
            &lt;p&gt;price-Low to High&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class="flex-H-center-V"&gt;
            &lt;input type="checkbox" /&gt;
            &lt;p&gt;price-High to Low&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;

        </code></pre>
      </main>
      <div class="sidebar sidebar-des" id="sidebarDiv">
        <a href="../Alerts/index.html"><h5>Avatar&Alert</h5></a>
                <a href="../badge/badge.html"><h5>Badge</h5></a>
                <a href="../button/buttons.html"><h5>Button</h5></a>
                <a href="../cards/cards.html"><h5>Card</h5></a>
                <a href="../res-image/image.html"> <h5>Image</h5></a>
                <a href="../inputs/input.html"><h5>Input</h5></a>
                <a href="../modal/modal.html"><h5>Modal</h5></a>
                <a href="../textUtilities/textUtil.html"><h5>Text-utilities</h5></a>
                <a href="../toast/toast.html"><h5>Toast</h5></a>
                <a href="../others/others.html"><h5>Others</h5></a>
                <a href="../navigation/navigation.html"><h5>Navigation</h5></a>   
      </div>
    </section>
    <footer class="flex-V-center-VH">
      <div>Lets Connect Now!!!!</div>
      <ul>
        <i class="fab fa-linkedin-in header-icons header-icons-m-lr"></i>
        <i class="fab fa-instagram header-icons header-icons-m-lr""></i>
        <i class="fab fa-twitter header-icons header-icons-m-lr"></i> 
      </ul>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
