<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>

    <link rel="stylesheet" href="/pages/components/Alerts/alerts.css" />
    <link rel="stylesheet" href="./../../../css/component-page.css" />
    <link rel="stylesheet" href="./badge.css" />
    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main>
      <h1>Badge</h1>
      <h2>Avatars with Badge</h2>
      <div class="flex-row">
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-lg"
          />
          <div class="badge badge-count">9</div>
        </figure>
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-lg"
          />
          <div class="badge badge-count">99</div>
        </figure>
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-lg"
          />
          <div class="badge">99+</div>
        </figure>
      </div>
      <p>
        Badges can be use in two ways one is with count other one is without
        count so for without count we have code in avatar section
      </p>
      <h2>Icons With Badge</h2>
      <div class="flex-row">
        <div class="pos-rel">
          <i class="fas fa-cart-plus icon-lg"></i>
          <div class="icon-badge">99</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-cart-plus icon-md"></i>
          <div class="icon-badge">99+</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-envelope-open-text icon-lg"></i>
          <div class="icon-badge">9</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-bell icon-lg"></i>
          <div class="icon-badge">99+</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-bell icon-md"></i>
          <div class="icon-badge">99+</div>
        </div>
      </div>
      <h2>Text with Badges</h2>
    <div class="pos-rel">
        <h1>Example for text with badges<h1>
        <p class="text-badge badge-xl">New Offer</p>
    </div>
    <div class="pos-rel">
        <h2>Example for text with badges<h2>
        <p class="text-badge badge-l">New Offer</p>
    </div>
    <div class="pos-rel">
        <h3>Example for text with badges<h3>
        <p class="text-badge badge-xm">New Offer</p>
    </div>
    <div class="pos-rel">
        <h4>Example for text with badges<h4>
        <p class="text-badge badge-m">New Offer</p>
    </div>
    <div class="pos-rel">
        <h5>Example for text with badges<h5>
        <p class="text-badge badge-sm">New Offer</p>
    </div>    
    </main>
  </body>
</html>
