@import url("../../../css/main.css");

/* grids for positioning */

.badge-div{
  display: grid;
}

#grid-item-img{
  grid-column: 1/1;
  grid-row: 1/1;
}

#grid-item-text{
  grid-column: 1/1;
  grid-row: 1/1;
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
  border-radius: 50%;
  text-align: center;
  color: #ffff;
  background-color: var(--primary-color); 
  height:2rem;
  width: 2rem;
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.lg-text-grid-item{
margin: -2px 0px 0px  4rem;
}
.lg-icon-text-grid-item{
  margin: -12px 0px 0px  1.8rem;
}
.md-icon-text-grid-item{
 margin: -1.3rem 0px 0px  13px;
}

.md-text-grid-item{
  margin: -6px 0px 0px  3rem;
}