<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Badge</title>

    <link rel="stylesheet" href="/pages/components/Alerts/alerts.css" />
    <link rel="stylesheet" href="./../../../css/component-page.css" />
    <link rel="stylesheet" href="./badge.css" />
    <link rel="stylesheet" href="../../../css/utilities.css" />
    
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="http://fonts.cdnfonts.com/css/spark" rel="stylesheet">
  </head>
  <body>
    <header class="flex-exact">
      <h1 class=" header-font-family">SPARK UI</h1>
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-row ml-auto">
        <div><i class="fab fa-github-alt header-icons header-icons-m-lr"></i></div>
        <div><i class="fab fa-twitter header-icons header-icons-m-lr"></i></div>
      </div>
    </header>
    <section class="comp-page-display">
      <nav class="flex-center" >

        <div>
          <div>Getting Started</div>
          <ul class="ul-mt">
            <li>Usage</li>
          </ul>
            <div>Components</div>
            <ul class="ul-mt">
              <li >Avatar&Alert</li>
              <li >Badge</li>
              <li >Button</li>
              <li >Badge</li>
              <li >Card</li>
              <li >Image</li>
              <li >Input</li>
              <li >List</li>
              <li >Navigation</li>
              <li >Toast</li>
            </ul>
          
          </div>
        </nav>
    

    <main>
      <h1>Badge</h1>
      <h2 id="a-badges">Avatars with Badge</h2>
      <div class="flex-row">
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-lg"
          />
          <div class="badge badge-lg">9</div>
        </figure>
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-lg"
          />
          <div class="badge badge-lg">99</div>
        </figure>
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-lg"
          />
          <div class="badge badge-lg">99+</div>
        </figure>
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-md"
          />
          <div class="badge badge-md">99+</div>
        </figure>
        <figure class="pos-rel">
          <img
            src="https://picturepan2.github.io/spectre/img/avatar-4.png"
            class="avatar avatar-md"
          />
          <div class="badge badge-md">99+</div>
        </figure>
      </div>
      <p>
        Badges can be use in two ways one is with count other one is without
        count so for without count we have code in avatar section
      </p>
      <h2 id="i-badges">Icons With Badge</h2>
      <div class="flex-row">
        <div class="pos-rel">
          <i class="fas fa-cart-plus icon-lg"></i>
          <div class="badge badge-icon-md">99+</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-cart-plus icon-md"></i>
          <div class="badge badge-icon-sm">99+</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-envelope-open-text icon-lg"></i>
          <div class="badge badge-icon-md">9</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-bell icon-lg"></i>
          <div class="badge badge-icon-md">99+</div>
        </div>
        <div class="pos-rel">
          <i class="fas fa-bell icon-md"></i>
          <div class="badge badge-icon-sm">99+</div>
        </div>
      </div>
      <p>Almost all websites have icons with badges so here you can get medium icon and small icon with badges</p>
      <h2 id="t-badges">Text with Badges</h2>
    <div class="pos-rel">
        <h1>Example for text with badges<h1>
        <p class="text-badge badge-xl">New Offer</p>
    </div>
    <div class="pos-rel">
        <h2>Example for text with badges<h2>
        <p class="text-badge badge-l">New Offer</p>
    </div>
    <div class="pos-rel">
        <h3>Example for text with badges<h3>
        <p class="text-badge badge-xm">New Offer</p>
    </div>
    <div class="pos-rel">
        <h4>Example for text with badges<h4>
        <p class="text-badge badge-m">New Offer</p>
    </div>
    <div class="pos-rel">
        <h5>Example for text with badges<h5>
        <p class="text-badge badge-sm">New Offer</p>
    </div> 
    <p>Many websites will have text with text badges like this which you are seeing here so it will help us to use in e-commerce websites</p>   
    </main>
    <aside>
      <h3 class="side-navigator">On this page you can get</h3>
      <hr/>
      <h3><a href="#a-badges">Avatars with Badge</a></h3>
      <h3><a href="#i-badges">Icons with Badge</a></h3>
      <h3><a href="#t-badges">Text with Badge</a></h3>               
    </aside>
  </section>
  </body>
</html>
