.flex-V-center-VH > h1 {
  font-size: 4em;
  width: 10em;
  text-align: center;
}

.flex-V-center-VH > p {
  font-size: 1.5em;
  width: 30em;
  margin-top: 0px;
  text-align: center;
}


p {
  font-size: 1.5em;
}

pre {
  font-size: 1.5em;
}
