.drawer-content {
  display: none;
  position: absolute;
}

.drawer-div {
  position: relative;
  margin-bottom: 12rem;

  
}

.drawer-content > p {
  border: solid 1px var(--primary-color);
  padding: 5px;
  cursor: pointer;

}

.drawer-div:hover .drawer-content  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

