<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../allComponents.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
   <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/hybrid.min.css"/>
    <script src="../../../index.js" defer></script>
    <title>TextUtils</title>
  </head>
  <body>
     <!-- desktop header -->
     <header class="desktop-nav">
      <div class="flex-H-space-around " >
        <a href="../../../home.html" >
          <h1><sapn class="span-style">Spark</sapn></h1>
      </a>
        
        <div class="header-icons-div">
         <p class="header-icons header-icons-m-lr">Docs</p>
         <p class="header-icons header-icons-m-lr">Blogs</p>
         <div class="dark-light-btn">
          <i class="fas fa-moon header-icons header-icons-m-lr">Dark</i>
        </div>
          <div>
            <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
          </div>
        </div>
      
      <div></div>
      </div>
      </header>
  
      <!-- mobile navbar -->
        <!-- hamburger div for mobile -->
        <header class="mobile-navbar">
      <div class="flex-H-space-around ">
         <a href="../../../home.html" >
          <h1><sapn class="span-style">Spark</sapn></h1>
      </a>
        <div class="buger-div">
          <a href="#" class="burger-button"><i class="fas fa-bars icon-lg"></i></a>
      </div>
  </div>
        </header>
    <section class="page-layout">
      <div class="nav-container">
        <navbar class="flex-V-center-H" >
        <div>
            <div>Components</div>
            <ul class="ul-mt">
              <a href="../Alerts/index.html"><li>Avatar&Alert</li></a>
              <a href="../badge/badge.html"><li>Badge</li></a>
              <a href="../button/buttons.html"><li>Button</li></a>
              <a href="../cards/cards.html"><li>Card</li></a>
              <a href="../res-image/image.html"> <li>Image</li></a>
              <a href="../inputs/input.html"><li>Input</li></a>
              <a href="../modal/modal.html"><li>Modal</li></a>
              <a href="../textUtilities/textUtil.html"><li>Text-utilities</li></a>
              <a href="../toast/toast.html"><li>Toast</li></a>
              <a href="../others/others.html"><li>Others</li></a>
              <a href="../navigation/navigation.html"><li>Navigation</li></a>
            </ul> 
          </div>
        </navbar>
      </div>
      <main>
        <h1>Text Utilities</h1>

        <div class="component">
          <p class="h1">Loreu isupum h1</p>
          <p class="h2">Loreu isupum h2</p>
          <p class="h3">Loreu isupum h3</p>
          <p class="h4">Loreu isupum h4</p>
          <p class="h5">Loreu isupum h5</p>
          <p class="h6">Loreu isupum h6</p>

          <small>This is a small text</small>
          <p class="text-grey">This is a grey text</p>
          <p class="text-align-center">this is a center text</p>
          <p class="text-align-right">this is a right align text</p>
          <p class="text-align-left">this is left align text</p>
        </div>

        <pre><code>
          &lt;class="h1"&gt;Loreu isupum h1&lt;p&gt;
          &lt;class="h2"&gt;Loreu isupum h1&lt;p&gt;
          &lt;class="h3"&gt;Loreu isupum h1&lt;p&gt; 
          &lt;class="h4"&gt;Loreu isupum h1&lt;p&gt;
        </code></pre>
        <h1>Lists</h1>
        <p>
          Lists can be used at many places like navbar,stacked
          notification,article pages
        </p>
        <h2>Unordered list items with bullets</h2>
        <div class="component flex-H-space-around">
          <ul>
            <li class="ul-item-solid">Item1</li>
            <li class="ul-item-solid">Item2</li>
            <li class="ul-item-solid">Item2</li>
            <li class="ul-item-solid">Item2</li>
          </ul>
          <ul>
            <li class="ul-item-square">Item1</li>
            <li class="ul-item-square">Item1</li>
            <li class="ul-item-square">Item1</li>
            <li class="ul-item-square">Item1</li>
          </ul>
          <ul>
            <li class="ul-item-circle">item1</li>
            <li class="ul-item-circle">item1</li>
            <li class="ul-item-circle">item1</li>
            <li class="ul-item-circle">item1</li>
          </ul>
        </div>
        <pre>
          <code>
            &lt;li class="ul-item-circle"&gt;item1&lt;/li&gt;
            &lt;li class="ul-item-square"&gt;Item1&lt;/li&gt;
            &lt;li class="ul-item-solid"&gt;Item2&lt;/li&gt;
          </code>
        </pre>
        <h2>Examples of ordered lists</h2>
        <div class="component flex-H-space-around">
          <ol>
            <li class="ol-item-roman">Item 1</li>
            <li class="ol-item-roman">Item 1</li>
            <li class="ol-item-roman">Item 1</li>
            <li class="ol-item-roman">Item 1</li>
          </ol>
          <ol>
            <li class="ol-item-alpha">Item 1</li>
            <li class="ol-item-alpha">Item 1</li>
            <li class="ol-item-alpha">Item 1</li>
            <li class="ol-item-alpha">Item 1</li>
          </ol>
          <ol>
            <li class="ol-item-upperAlpha">Item 1</li>
            <li class="ol-item-upperAlpha">Item 1</li>
            <li class="ol-item-upperAlpha">Item 1</li>
            <li class="ol-item-upperAlpha">Item 1</li>
          </ol>
        </div>
        <pre><code>
          &lt;li class="ol-item-upperAlpha"&gt;Item 1&lt;/li&gt;
          &lt;li class="ol-item-roman"&gt;Item 1&lt;/li&gt;
          &lt;li class="ol-item-alpha"&gt;Item 1&lt;/li&gt;
        </code></pre>
      </main>
      <div class="sidebar sidebar-des" id="sidebarDiv">
        <a href="../Alerts/index.html"><h5>Avatar&Alert</h5></a>
                <a href="../badge/badge.html"><h5>Badge</h5></a>
                <a href="../button/buttons.html"><h5>Button</h5></a>
                <a href="../cards/cards.html"><h5>Card</h5></a>
                <a href="../res-image/image.html"> <h5>Image</h5></a>
                <a href="../inputs/input.html"><h5>Input</h5></a>
                <a href="../modal/modal.html"><h5>Modal</h5></a>
                <a href="../textUtilities/textUtil.html"><h5>Text-utilities</h5></a>
                <a href="../toast/toast.html"><h5>Toast</h5></a>
                <a href="../others/others.html"><h5>Others</h5></a> 
                <a href="../navigation/navigation.html"><h5>Navigation</h5></a>  
      </div>
    </section>
    <footer class="flex-V-center-VH">
      <div>Lets Connect Now!!!!</div>
      <ul>
        <i class="fab fa-linkedin-in header-icons header-icons-m-lr"></i>
        <i class="fab fa-instagram header-icons header-icons-m-lr""></i>
        <i class="fab fa-twitter header-icons header-icons-m-lr"></i> 
      </ul>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
