<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../allComponents.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <title>TextUtils</title>
  </head>
  <body>
    <header class="flex-H-center-V">
      <h1 class="header-font-family">SPARK UI</h1>
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-H ml-auto">
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
      </div>
    </header>
    <section class="page-layout">
      <nav class="flex-V-center-H">
        <div>
          <div>Getting Started</div>
          <ul class="ul-mt">
            <li>Usage</li>
          </ul>
          <div>Components</div>
          <ul class="ul-mt">
            <a href="../Alerts/index.html"><li>Avatar&Alert</li></a>
            <a href="../badge/badge.html"><li>Badge</li></a>
            <a href="../button/buttons.html"><li>Button</li></a>
            <a href="../cards/cards.html"><li>Card</li></a>
            <a></a>
            <li>Image</li>
            <a href="../inputs/input.html"><li>Input</li></a>
            <li>List</li>
            <li>Navigation</li>
            <li>Toast</li>
          </ul>
        </div>
      </nav>
      <main>
        <h1>Text Utilities</h1>

        <div class="component">
          <p class="h1">Loreu isupum h1</p>
          <p class="h2">Loreu isupum h2</p>
          <p class="h3">Loreu isupum h3</p>
          <p class="h4">Loreu isupum h4</p>
          <p class="h5">Loreu isupum h5</p>
          <p class="h6">Loreu isupum h6</p>

          <small>This is a small text</small>
          <p class="text-grey">This is a grey text</p>
          <p class="text-align-center">this is a center text</p>
          <p class="text-align-right">this is a right align text</p>
          <p class="text-align-left">this is left align text</p>
        </div>

        <pre><code>
          &lt;class="h1"&gt;Loreu isupum h1&lt;p&gt;
          &lt;class="h2"&gt;Loreu isupum h1&lt;p&gt;
          &lt;class="h3"&gt;Loreu isupum h1&lt;p&gt; 
          &lt;class="h4"&gt;Loreu isupum h1&lt;p&gt;
        </code></pre>
        <h1>Lists</h1>
        <p>
          Lists can be used at many places like navbar,stacked
          notification,article pages
        </p>
        <h2>Unordered list items with bullets</h2>
        <div class="component flex-H-space-around">
          <ul>
            <li class="ul-item-solid">Item1</li>
            <li class="ul-item-solid">Item2</li>
            <li class="ul-item-solid">Item2</li>
            <li class="ul-item-solid">Item2</li>
          </ul>
          <ul>
            <li class="ul-item-square">Item1</li>
            <li class="ul-item-square">Item1</li>
            <li class="ul-item-square">Item1</li>
            <li class="ul-item-square">Item1</li>
          </ul>
          <ul>
            <li class="ul-item-circle">item1</li>
            <li class="ul-item-circle">item1</li>
            <li class="ul-item-circle">item1</li>
            <li class="ul-item-circle">item1</li>
          </ul>
        </div>
        <pre>
          <code>
            &lt;li class="ul-item-circle"&gt;item1&lt;/li&gt;
            &lt;li class="ul-item-square"&gt;Item1&lt;/li&gt;
            &lt;li class="ul-item-solid"&gt;Item2&lt;/li&gt;
          </code>
        </pre>
        <h2>Examples of ordered lists</h2>
        <div class="component flex-H-space-around">
          <ol>
            <li class="ol-item-roman">Item 1</li>
            <li class="ol-item-roman">Item 1</li>
            <li class="ol-item-roman">Item 1</li>
            <li class="ol-item-roman">Item 1</li>
          </ol>
          <ol>
            <li class="ol-item-alpha">Item 1</li>
            <li class="ol-item-alpha">Item 1</li>
            <li class="ol-item-alpha">Item 1</li>
            <li class="ol-item-alpha">Item 1</li>
          </ol>
          <ol>
            <li class="ol-item-upperAlpha">Item 1</li>
            <li class="ol-item-upperAlpha">Item 1</li>
            <li class="ol-item-upperAlpha">Item 1</li>
            <li class="ol-item-upperAlpha">Item 1</li>
          </ol>
        </div>
        <pre><code>
          &lt;li class="ol-item-upperAlpha"&gt;Item 1&lt;/li&gt;
          &lt;li class="ol-item-roman"&gt;Item 1&lt;/li&gt;
          &lt;li class="ol-item-alpha"&gt;Item 1&lt;/li&gt;
        </code></pre>
      </main>
      <aside>
        <h3 class="side-navigator">On this page you can get</h3>
        <hr />
        <h3><a href="#h-v-cards">Typography</a></h3>
      </aside>
    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
