<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inputs</title>
    <link rel="stylesheet" href="../inputs/input.css" />
    <link rel="stylesheet" href="../../../css/main.css" />
  </head>
  <body>
    <h1>Input</h1>
    <h2>Standard Input</h2>
    <div class="input">
      <input type="text" />
      <div>password</div>
    </div>
    <h2>Validation</h2>
    <div class="input">
      <input type="text" class="success" />
      <div>userName</div>
    </div>
    <div class="input">
      <input type="text" class="warn" />
      <div>password</div>
    </div>
    <div class="input">
      <input type="text" class="error" />
      <div>gmailId</div>
    </div>
    <p>
      We can validate input in three ways like error warn and succuess inputs
    </p>
  </body>
</html>
