<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inputs</title>
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../button/buttons.css" />
    <link rel="stylesheet" href="./../../../css/component-page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../../css/utilities.css" />
    <link rel="stylesheet" href="../inputs/input.css" />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
  </head>
  <body>
    <header class="flex-H-space-around">
      <a href="../../../home.html"
        ><h1><sapn class="span-style">Spark</sapn></h1></a
      >
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-H-center-V">
        <p class="header-icons header-icons-m-lr">Docs</p>
        <p class="header-icons header-icons-m-lr">Blogs</p>
        <div>
          <i class="fas fa-adjust header-icons header-icons-m-lr"></i>
        </div>
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
      </div>
    </header>
    <section class="page-layout">
      <navbar class="flex-V-center-H">
        <div>
          <div>Components</div>
          <ul class="ul-mt">
            <a href="../Alerts/index.html"><li>Avatar&Alert</li></a>
            <a href="../badge/badge.html"><li>Badge</li></a>
            <a href="../button/buttons.html"><li>Button</li></a>
            <a href="../cards/cards.html"><li>Card</li></a>
            <a href="../res-image/image.html"> <li>Image</li></a>
            <a href="../inputs/input.html"><li>Input</li></a>
            <a href="../modal/modal.html"><li>Modal</li></a>
            <a href="../textUtilities/textUtil.html"><li>Text-utilities</li></a>
            <a href="../toast/toast.html"><li>Toast</li></a>
            <a href="../others/others.html"><li>Others</li></a>
          </ul>
        </div>
      </navbar>
      <main>
        <h1 class="s-input">Input</h1>
        <h2>Standard Input</h2>
        <p>
          this is sample input field where we can use it for to take inputs from
          users
        </p>
        <div class="input">
          <input type="text" />
          <div>Label</div>
        </div>
        <pre><code class="language-html">
         &lt;div class="input"&gt;
           &lt;input type="text" /&gt;
           &lt;div&gt;Label&lt;/div&gt;
         &lt;/div&gt;
        </code></pre>
        <h2 class="v-input">Validation</h2>
        <p>
          validation Majorly useful to match the passwords if matched we will
          show input box in one color if not usually in red color
        </p>
        <div class="input">
          <input type="text" class="success" />
          <div>Label</div>
        </div>
        <pre><code class="language-html">
          &lt;div class="input"&gt;
            &lt;input type="text" class="success" /&gt;
            &lt;div&gt;Label&lt;/div&gt;
          &lt;/div&gt;
        </code></pre>
        <div class="input">
          <input type="text" class="warn" />
          <div>Label</div>
        </div>
        <pre><code class="language-html">
          &lt;div class="input"&gt;
            &lt;input type="text" class="warn" /&gt;
            &lt;div&gt;Label&lt;/div&gt;
          &lt;/div&gt;
        </code></pre>
        <div class="input">
          <input type="text" class="error" />
          <div>Label</div>
        </div>
        <pre><code class="language-html">
          &lt;div class="input"&gt;
            &lt;input type="text" class="error" /&gt;
            &lt;div&gt;Label&lt;/div&gt;
          &lt;/div&gt;
        </code></pre>
      </main>
      <aside>
        <h3 class="side-navigator">On this page you can get</h3>
        <hr />
        <h3><a href="#s-input">Standard Input</a></h3>
        <h3><a href="#v-input">Input validation</a></h3>
      </aside>
    </section>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
