<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link rel="stylesheet" href="../../../css/main.css"/>
    <link rel="stylesheet" href="../button/buttons.css" />
    <link rel="stylesheet" href="./../../../css/component-page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../../css/component-page.css"/>
    <link rel="stylesheet" href="../../../css/utilities.css"/>
    <link rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css">
  </head>
  <body>
    <header class="flex-H-space-around">
      <h1><sapn class="span-style">Spark</sapn></h1>
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-H-center-V">
       <p class="header-icons header-icons-m-lr">Docs</p>
       <p class="header-icons header-icons-m-lr">Blogs</p>
        <div>
          <i class="fas fa-adjust header-icons header-icons-m-lr"></i>
        </div>
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
      </div>
    </header>

    <section class="page-layout">
      <navbar class="flex-V-center-H" >

        <div>
          
            <div>Components</div>
            <ul class="ul-mt">
              <a href="../Alerts/index.html"><li>Avatar&Alert</li></a>
              <a href="../badge/badge.html"><li>Badge</li></a>
              <a href="../button/buttons.html"><li>Button</li></a>
              <a href="../cards/cards.html"><li>Card</li></a>
              <a href="../res-image/image.html"> <li>Image</li></a>
              <a href="../inputs/input.html"><li>Input</li></a>
              <a href="../modal/modal.html"><li>Modal</li></a>
              <a href="../textUtilities/textUtil.html"><li>Text-utilities</li></a>
              <a href="../toast/toast.html"><li>Toast</li></a>
              <a href="../others/others.html"><li>Others</li></a>
            </ul>  
          
          </div>
        </navbar>
      <main >
        <h1>Button</h1>
        <h2>Solid Buttons</h2>
        <div class=" component">
          <div class="flex-H-space-around">
        <button class="btn primary-btn">primary Login</button>
        <button class="btn secondary-btn">primary LogOut</button>
        <button class="btn primary-btn">primary Login</button>
        <button class="btn secondary-btn">primary LogOut</button>
        <button class="btn primary-btn">primary Login</button>
      </div>
      <pre><code class="language-html">
        &lt;button class="btn primary-btn"&gt;primary Login&lt;/button&gt;
        &lt;button class="btn primary-btn"&gt;primary Login&lt;/button&gt;
      </code></pre>
     
  </div>
        <p>
          The solid Button Component is available in two variants <span class="text-span-style">primary-btn</span>
          <sapn class="text-span-style">secondary-btn</sapn>
        </p>
        <h2>Outline Buttons</h2>
        <div class="component">
        <div class="flex-H-space-around "><button class="btn primary-outlime-btn">Primary Login</button>
        <button class="btn secondary-outline-btn">Secondary Logout</button>
        <button class="btn primary-outlime-btn">Primary Login</button>
        <button class="btn secondary-outline-btn">Secondary Logout</button>
        <button class="btn primary-outlime-btn">Primary Login</button>
       
      </div>
      <pre><code class="language-html">
        &lt;button class="btn primary-outlime-btn"&gt;primary Login&lt;/button&gt;
        &lt;button class="btn secondary-outline-btn"&gt;primary Login&lt;/button&gt;
      </code></pre>
</div>
        <p>
          The outline button component is available in two variants
          <span class="text-span-style">primary-outlime-btn</span>,<span class="text-span-style">secondary-outline-btn</span>
        </p>
        

        <h2>Icon Buttons</h2>

        <!-- <button class="flex-exact btn primary-icon-btn">
      <i class="fas fa-cart-arrow-down icon-md"></i>
      Add to cart
    </button>
    <button class="btn primary-icon-btn">
      <i class="fas fa-heart"></i>
      Like
    </button> -->
    <div class="component">
        <div class="flex-H-space-around ">
          <button class="btn secondary-icon-btn">
            <i class="fas fa-cart-arrow-down "></i>Add to cart
          </button>
          <button class="like-icon ">
            <i class="fas fa-heart"></i>
          </button>

          <button class="btn primary-icon-btn">
            Checkout
            <i class="fas fa-long-arrow-alt-right"></i>
          </button>

          <button class="btn primary-icon-btn">
            Checkout
            <i class="fas fa-long-arrow-alt-right "></i>
          </button>

          <button class="btn primary-icon-btn">
            Checkout
            <i class="fas fa-long-arrow-alt-right "></i>
          </button>
        </div>
        <pre><code class="language-html">
          &lt;button class="btn  secondary-icon-btn"&gt;&lt;i&gt;class="fas fa-cart-arrow-down "&gt;&lt;/i&gt;add to cart&lt;/button&gt;
          &lt;button class="btn  secondary-icon-btn"&gt;&lt;i&gt;class="fas fa-cart-arrow-down "&gt;&lt;/i&gt;add to cart&lt;/button&gt;
        </code></pre>
</div>
        <p>
          Icon buttons are in two variants primary and scondary <span class="text-span-style">btn  secondary-icon-btn</span> <span class="text-span-style">btn  primary-icon-btn</span> 
        </p>

        <h2>Floating action button</h2>
        <div class="component">
       <div class="flex-H-space-around "> <button class="btn float">
          <i class="fas fa-arrow-up"></i>
        </button>
        <button class="btn float">
          <i class="fas fa-anchor"></i>
        </button>
        <button class="btn float">
          <i class="far fa-arrow-alt-circle-up"></i>
        </button>
        <button class="btn float">
          <i class="fas fa-angle-double-down"></i>
        </button><button class="btn float">
          <i class="fas fa-allergies"></i>
        </button>
      </div>
      <pre><code class="language-html">
        &lt;button class="btn float"&gt;&lt;i&gt;class="fas fa-angle-double-down"&gt;&lt;/i&gt;&lt;/button&gt;
      </code></pre>
</div>
        <p>this button is in one variant  <span class="text-span-style">btn float</span></p>
        <h2>Link Buttons</h2>
        <div class="component">
        <div class="flex-H-space-around ">
        <button class="btn primary-link">Primary Link</button>
        <button class="btn secondary-link">Secondary Link</button>
        <button class="btn primary-link">Primary Link</button>
        <button class="btn secondary-link">Secondary Link</button>
        <button class="btn primary-link">Primary Link</button>
        <button class="btn secondary-link">Secondary Link</button>
      </div>
      <pre><code class="language-html">
        &lt;button class="btn primary-link"&gt;&lt;/button&gt;
        &lt;button class="btn secodary-link"&gt;&lt;/button&gt;
      </code></pre>
</div>
<p>link buttons are in two variants  <span class="text-span-style">btn primary-link</span> <span class="text-span-style">btn secodary-link</span> </p>

      </main>
    
    </section>
    <footer class="flex-V-center-VH">
      <div>Lets Connect Now!!!!</div>
      <ul>
        <i class="fab fa-linkedin-in header-icons header-icons-m-lr"></i>
        <i class="fab fa-instagram header-icons header-icons-m-lr""></i>
        <i class="fab fa-twitter header-icons header-icons-m-lr"></i> 
      </ul>
    </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  </body>
</html>
