<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buttons</title>
    <link rel="stylesheet" href="../../../css/main.css" />
    <link rel="stylesheet" href="../button/buttons.css" />
    <link rel="stylesheet" href="./../../../css/component-page.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../../../css/utilities.css" />
  </head>
  <body>
    <h1>Button</h1>
    <h2>Solid Buttons</h2>
    <button class="btn primary-btn">Login</button>
    <button class="btn secondary-btn">Log Out</button>
    <p>
      The solid Button Component is available in two variants primary-btn
      secondary-btn
    </p>
    <h2>Outline Buttons</h2>
    <button class="btn primary-outlime-btn">Primary</button>
    <button class="btn secondary-outline-btn">Secondary</button>
    <p>
      The outline button component is available in two variants
      primary-outlime-btn,secondary-outline-btn
    </p>

    <h2>Icon Buttons</h2>

    <!-- <button class="flex-exact btn primary-icon-btn">
      <i class="fas fa-cart-arrow-down icon-md"></i>
      Add to cart
    </button>
    <button class="btn primary-icon-btn">
      <i class="fas fa-heart"></i>
      Like
    </button> -->
    <div class="flex-wrap">
      <button class="btn secondary-icon-btn">
        <i class="fas fa-cart-arrow-down icon-mr"></i>Add to cart
      </button>
      <button class="like-icon icon-m">
        <i class="fas fa-heart"></i>
      </button>

      <button class="btn primary-icon-btn">
        Checkout
        <i class="fas fa-long-arrow-alt-right icon-ml"></i>
      </button>
    </div>
    <p>This type buttons will help us in social media and ecommerce website</p>

    <h2>Floating action button</h2>
    <button class="btn float">
      <i class="fas fa-arrow-up"></i>
    </button>
    <p>Floating action button can be used in all website</p>

    <h2>Link Buttons</h2>
    <button class="btn primary-link">Primary Link</button>
    <button class="btn secondary-link">Secondary Link</button>
  </body>
</html>
