<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../allComponents.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css "
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/default.min.css"
    />
    <title>slider</title>
  </head>
  <body>
    <header class="flex-H-center-V">
      <h1 class="header-font-family">SPARK UI</h1>
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-H ml-auto">
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
      </div>
    </header>
    <section class="page-layout">
      <nav class="flex-V-center-H">
        <div>
          <div>Getting Started</div>
          <ul class="ul-mt">
            <li>Usage</li>
          </ul>
          <div>Components</div>
          <ul class="ul-mt">
            <a href="../Alerts/index.html"><li>Avatar&Alert</li></a>
            <a href="../badge/badge.html"><li>Badge</li></a>
            <a href="../button/buttons.html"><li>Button</li></a>
            <a href="../cards/cards.html"><li>Card</li></a>
            <a></a>
            <li>Image</li>
            <a href="../inputs/input.html"><li>Input</li></a>
            <li>List</li>
            <li>Navigation</li>
            <li>Toast</li>
          </ul>
        </div>
      </nav>
      <main>
        <h1>slider</h1>
        <div class="component">
        <h2>Sample slider</h2>
        <input
          class="slider"
          type="range"
          name="range"
          id="range"
          min="10"
          max="250"
          value="35"
        />
      </div>
        <pre><code class="language-html">
          &lt;input
          class="slider"
          type="range"
          name="range"
          id="range"
          min="10"
          max="250"
          value="35"
        /&gt;
        </code></pre>
  <div class="component">
        <h2>disabled slider</h2>
        <input
          class="slider"
          type="range"
          name="range"
          id="range"
          min="10"
          max="250"
          value="35"
          disabled
        />
      </div>
        <pre><code class="language-html">
          &lt;input
          class="slider"
          type="range"
          name="range"
          id="range"
          min="10"
          max="250"
          value="35"
          disabled
        /&gt;
        </code></pre>
        <h1>simplified Grids</h1>
        <div class="component" >
          <div class="grid-50-50-layout">
            <img
              src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/aslkljzahxanxy5vge5y"
            />
            <div class="flex-V-center-VH">
              <h1>Premium first quality food</h1>
              <button class="btn primary-btn">Clcik here</button>
            </div>
          </div>
        </div>

        <pre><code class="language-html">
          &lt;div class="grid-50-50-layout"&gt;
            &lt;img
              src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_520,h_520/rng/md/carousel/production/aslkljzahxanxy5vge5y"
            /&gt;
            &lt;div class="flex-V-center-VH"&gt;
              &lt;h1&gt;Premium first quality food&lt;/h1&gt;
              &lt;button class="btn primary-btn"&gt;Clcik here&lt;/button&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        </code></pre>
        <h2>Three column layout using grids</h2>
        <div class="component">
        <div class="grid-50-50-50-layout">
          <div class="flex-V-center-VH">
            <h1>Premium first quality food</h1>
            <button class="btn primary-btn">Clcik here</button>
          </div>
          <div class="flex-V-center-VH">
            <h1>Premium first quality food</h1>
            <button class="btn primary-btn">Clcik here</button>
          </div>
          <div class="flex-V-center-VH">
            <h1>Premium first quality food</h1>
            <button class="btn primary-btn">Clcik here</button>
          </div>    
        </div>
      </div>
    </div>

    <pre><code class="language-html">
      &lt;div class="grid-50-50-50-layout"&gt;
        &lt;div class="flex-V-center-VH"&gt;
          &lt;h1&gt;Premium first quality food&lt;/h1&gt;
          &lt;button class="btn primary-btn"&gt;Clcik here&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="flex-V-center-VH"&gt;
          &lt;h1&gt;Premium first quality food&lt;/h1&gt;
          &lt;button class="btn primary-btn"&gt;Clcik here&lt;/button&gt;
        &lt;/div&gt;
        &lt;div class="flex-V-center-VH"&gt;
          &lt;h1&gt;Premium first quality food&lt;/h1&gt;
          &lt;button class="btn primary-btn"&gt;Clcik here&lt;/button&gt;
        &lt;/div&gt;    
      &lt;/div&gt;
    </code></pre>



    <h1>Navigation</h1>
    <div class="component">
    <navbar class="flex-H-center-V">
      <h1 >SPARK UI</h1>
      <!-- <h1>Spark UI</h1> -->
      <div class="flex-H ml-auto">
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
        <div>
          <i class="fab fa-github-alt header-icons header-icons-m-lr"></i>
        </div>
      </div>
    </navbar>
  </div>

    <pre><code>
      &lt;navbar class="flex-H-center-V"&gt;
        &lt;h1 class="header-font-family"&gt;SPARK UI&lt;/h1&gt;
        &lt;!-- &lt;h1&gt;Spark UI&lt;/h1&gt; --&gt;
        &lt;div class="flex-H ml-auto"&gt;
          &lt;div&gt;
            &lt;i class="fab fa-github-alt header-icons header-icons-m-lr"&gt;&lt;/i&gt;
          &lt;/div&gt;
          &lt;div&gt;
            &lt;i class="fab fa-github-alt header-icons header-icons-m-lr"&gt;&lt;/i&gt;
          &lt;/div&gt;
          &lt;div&gt;
            &lt;i class="fab fa-github-alt header-icons header-icons-m-lr"&gt;&lt;/i&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/navbar&gt;
    </code></pre>
      </main>
    </section>
    <footer class="flex-V-center-VH">
      <div>Lets Connect Now!!!!</div>
      <ul>
        <i class="fab fa-linkedin-in header-icons header-icons-m-lr"></i>
        <i class="fab fa-instagram header-icons header-icons-m-lr""></i>
        <i class="fab fa-twitter header-icons header-icons-m-lr"></i> 
      </ul>
    </footer>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
      hljs.highlightAll();
    </script>
  </body>
</html>
